In [3]:
import numpy as np
a = np.random.random((3,3))
print(a)
print(a.dtype)

[[0.27130962 0.18938558 0.50883483]
 [0.23597035 0.72334867 0.19689776]
 [0.99217704 0.63796794 0.55748582]]
float64

In [8]:
np.eye(5)*100
# otra forma
(np.ones((5,5))*100)*np.eye(5)

array([[100.,   0.,   0.,   0.,   0.],
       [  0., 100.,   0.,   0.,   0.],
       [  0.,   0., 100.,   0.,   0.],
       [  0.,   0.,   0., 100.,   0.],
       [  0.,   0.,   0.,   0., 100.]])

In [5]:
np.zeros((5,5))

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [6]:
np.ones((5,5))

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [9]:
a =  np.ones((5,3))
a.T

array([[1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.],
       [1., 1., 1., 1., 1.]])

In [14]:
b = [1,2,3,4,4,5,6,7,8,8]
a = np.asarray(b)
print(b.T)

AttributeError: 'list' object has no attribute 'T'

In [15]:
a = np.random.random((3,3,3))
np.hstack(np.hstack(a))

array([0.78910381, 0.57048112, 0.89667828, 0.91467565, 0.4423843 ,
       0.40611505, 0.89559443, 0.82237844, 0.27955319, 0.63785954,
       0.47727057, 0.52615665, 0.94057279, 0.53052833, 0.84163016,
       0.65255193, 0.46361824, 0.92065531, 0.10971757, 0.85838841,
       0.72702081, 0.38765112, 0.35189159, 0.85870862, 0.8562202 ,
       0.34163368, 0.91278775])

In [17]:
a = np.random.random((3,3,3))
np.hstack(np.vstack(a))

array([0.79249578, 0.81716628, 0.22865912, 0.17869086, 0.85566724,
       0.0532807 , 0.82393902, 0.62941372, 0.49365177, 0.24630635,
       0.96351753, 0.5556366 , 0.65978381, 0.31849945, 0.78867545,
       0.49613006, 0.23516594, 0.26969124, 0.07461806, 0.83469538,
       0.3050301 , 0.09448479, 0.47411228, 0.70294323, 0.53250441,
       0.16729145, 0.25836095])

In [24]:
lst = np.concatenate([np.arange(5), np.arange(5)])
print(lst)

[0 1 2 3 4 0 1 2 3 4]

In [25]:
x = np.arange(5)
print(x, x.shape)
x = np.expand_dims(x, axis=0)
print(x, x.shape)

[0 1 2 3 4] (5,)
[[0 1 2 3 4]] (1, 5)

In [27]:
lista = [x,x,x,x,x,x]
np.concatenate(lista, axis = 0)

array([[0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4],
       [0, 1, 2, 3, 4]])

In [29]:
lst = [[l] * [i+l] for i in range(5)]
lst

TypeError: can't multiply sequence by non-int of type 'list'

In [30]:
import pandas as pd

In [33]:
x = np.random.random((5,5))
colnames = ["col" + str(i) for i in range(5)]
df = pd.DataFrame(x, columns = colnames)
df

       col0      col1      col2      col3      col4
0  0.304746  0.857519  0.634154  0.679859  0.803046
1  0.594805  0.855143  0.630055  0.884482  0.382824
2  0.480793  0.022380  0.120040  0.947606  0.753940
3  0.045445  0.096074  0.462388  0.566107  0.924184
4  0.497157  0.292889  0.605220  0.628955  0.288597

In [35]:
df["col0"]

0    0.304746
1    0.594805
2    0.480793
3    0.045445
4    0.497157
Name: col0, dtype: float64